---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class = "hero-image"> </div>

<script>
document.addEventListener('DOMContentLoaded', init, false);
async function init() {
console.log('test')
	const today = new Date
//get list of dates from events on page.
//work out which are the 3 next coming up
//only show those ones by sorting out class
let arr = []
document.querySelectorAll('[event-date]').forEach(d=>arr.push(d.getAttribute('event-date')))
const futureDates = arr.map(d=>new Date(d) ).filter(d=>today <= d).map(d=>d.toISOString().slice(0,10))
console.log({futureDates:futureDates.slice(0,1)})
futureDates.slice(0,3).forEach(f=>
document.querySelectorAll('[event-date="'+f+'"]').forEach(d=>d.removeAttribute('class','hidden'))
)
}
</script>

<h1>Upcoming Events</h1>
<div id="eventlist" > </div>


{% set eventslist = events.items %}
{{ events.filter | log }}
{% include "eventslist.njk" %}


