<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) %}
  {% if entry.children.length %}
    <li class="nav-item">
      <details
        {%- for child in entry.children %}
          {% if child.parent == entry.title and child.url == page.url %}
            class="is-active"
            open
          {% endif %}
        {% endfor %}
      >
        <summary>{{ entry.title }}</summary>
        <ul role="list" class="nested-menu-float">
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      </details>
    </li>
  {% else %}
    <li class="nav-item" >
      <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
    </li>
  {%- endif -%}
{%- endmacro %}

<ul class="nav-list" role="list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
		<h3>Sunday Service 10.30AM - 12.30PM</h3>
		<h3>34 West Street, Leek, Staffordshire, ST13 8AA</h3>
		<h3>01538 370209</h3>
		<a href="mailto:admin@thegatewaychurchatleek.uk">admin@thegatewaychurchatleek.uk</a>
		<a href="https://www.facebook.com/profile.php?id=100069923313544"><img alt="Facebook" src ="https://images.ctfassets.net/o4a3mj8e5uk7/7CxeVVodwKeZz9Qt3HzJko/de53a4bdaab9a9398b3eb42295546efe/fb_icon.png?h=30" ></a>
		<a href="https://podcasters.spotify.com/pod/show/helen-watt4" ><img alt="Spotify" src ="https://images.ctfassets.net/o4a3mj8e5uk7/3xgpcAC1GGqsJc3GVeAv1z/84af48989018762c7a7591e29854efcc/spf_icon.png?h=30" ></a>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
